<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kg.vista.ooba">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".activities.MainActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".activity.ShopActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.NotificationActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity
            android:name=".activity.UserDetailsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SecurityActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.PostSettingsActivity" />
        <activity android:name=".activity.DiscountActivity" />
        <activity android:name=".activity.PaymentsActivity" />
        <activity android:name=".activity.PaymentsStatusActivity" />
        <activity android:name=".activity.BalanceActivity" />
        <activity
            android:name=".activity.ProductActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PartnerInfoActivity" />
        <activity
            android:name=".activity.PartnerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MailForwardingActivity" />
        <activity android:name=".activity.MailForwardingInfoActivity" />
        <activity
            android:name=".activity.ProductCartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BasketOrderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.GroupOnActivity"
            android:label="@string/title_activity_group_on"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.CatalogActivity"
            android:label="@string/catalog"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ShopInDetailActivity"
            android:label="@string/catalog"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.Product2Activity"
            android:label="@string/catalog"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ProductInfoActivity"
            android:label="@string/catalog"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.GroupInfoActivity" />
    </application>

</manifest>